body {
    background-image: url(immagini/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}

h1 {text-align: center; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: rgb(237, 58, 79);}
h2 {font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
h3 {text-align: left; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}

img {height: 300px;}

#left, #center {width: 500px;}
#right {width: 448px;}
#left2 {width: 365px;}
#center2 {width: 730px;}
#right2 {width: 352px;}

td {width: 500px; text-align: center;}
td a {color: rgb(18, 14, 84); text-decoration: none;}
table {border-style: groove; border-radius: 25px;}

#scroll {
    overflow: scroll; width: 500px; height: 100px; font-family: 'Times New Roman', Times, serif;
    font-weight: bold; background-color: rgb(246, 210, 103, 0.8); line-height: 20px; float: left;
    margin-right: 450px;
}

td.flag {background-color: #CF352E;}
th.flag {background-color: white;}
table.flag {width: 300px; height: 200px; border-collapse: collapse;}

#trip {font-size: 20px; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}

ul h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    text-align: start;
}

.text {
    padding-left: 35px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.img {padding-left: 35px;}

#gira {width: 400px; height: 400px;}
    
#interno {
    text-align: center;
    transition: transform 0.9s;
    transform-style: preserve-3d;
}
    
#gira:hover #interno {transform: rotateY(180deg);}
    
#dietro {
    font-size: 15px;
    text-align: justify;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    transform: rotateY(180deg);
    h1 {font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; text-align: center;}
}
    
#davanti, #dietro {
    position: fixed;
    width: 400px;
    height: 400px;
    backface-visibility: hidden;     
}

#dietro, #gira {padding-left: 1000px;}

#utile {
    h2 {color: black;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 20px;
}